<!DOCTYPE html>
<html>

<head>
  <title>socket.io chat</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>
  <h1>Discordにメッセージを送りました</h1>
</body>

</html>